service: aws-bsseval # NOTE: update this with your service name

provider:
  name: aws
  runtime: python3.6
  timeout: 900
  iamRoleStatements:
    - Effect: Allow
      Action:
        - s3:* 
      Resource: "*"

functions:
  bsseval:
    handler: handler.main
    events:
      - s3:
          bucket: bsseval
          event: s3:ObjectCreated:*
          rules:
            - prefix: uploads/
            - suffix: .zip

resources:
  Resources:
    S3BucketBsseval:
      Type: AWS::S3::Bucket
      Properties:
        BucketName: bsseval
        # add additional custom bucket configuration here
    BssevalLambdaPermissionBssevalS3:
      Type: "AWS::Lambda::Permission"
      Properties:
        FunctionName:
          "Fn::GetAtt":
            - BssevalLambdaFunction
            - Arn
        Principal: "s3.amazonaws.com"
        Action: "lambda:InvokeFunction"
        SourceAccount:
          Ref: AWS::AccountId
        SourceArn: "arn:aws:s3:::bsseval"

plugins:
  - serverless-python-requirements

custom:
  pythonRequirements:
    slim: true
    dockerizePip: true
